<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Map</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="libs/jquery-ui-1.11.3/jquery-ui.css"/>
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
<div id="mainContainer"></div>

<!-- Templates -->

<!-- Cell -->
<script type="text/template" id="mainTemplate">
    <div title="<%= currentDate %>">
        <div>Empty project was started at:</div>
        <div> <%= startDate %> </div>
        <br/>
        <div>But now:</div>
        <div> <%= currentDate %> </div>
    </div>
</script>

<!-- Scripts -->

<script src="../node_modules/tracekit/tracekit.js"></script>

<script src="libs/jquery-1.9.1.js"></script>
<script src="libs/jquery-ui-1.11.3/jquery-ui.js"></script>
<script src="libs/underscore.js"></script>
<script src="libs/backbone.js"></script>
<script src="libs/bootstrap/js/bootstrap.js"></script>

<script src="appConfig.js"></script>

<script src="./models/mainModel.js"></script>
<script src="./views/mainView.js"></script>

<script src="app.js"></script>

</body>
</html>